[submodule "rcl"]
	path = rcl
	url = https://github.com/ros2/rcl.git
	branch = humble
[submodule "rclc"]
	path = rclc
	url = https://github.com/ros2/rclc.git
	branch = humble
[submodule "rmw"]
	path = rmw
	url = https://github.com/ros2/rmw.git
	branch = humble
[submodule "rcutils"]
	path = rcutils
	url = https://github.com/ros2/rcutils.git
	branch = humble
